*{
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background: #f4f4f4;
}

.header {
    margin-top: 60px;
}

.begin-button {
    margin-top: 60px;
}

.intro-text {
    margin-top: 20px;
}

.weather-text {
    margin-top: 20px;
}

.shopping-cart-link {
    margin-top: 10px;
}

.login-area {
    margin-top: 60px;
}

.logout-form {
    cursor:pointer;
}


.navbar {
    margin-bottom: 30px;
}

.card {
    margin: 15px;
    width: 12rem;
}