html {
    margin: 40px auto;
    text-align: center;
}
.btn-twitter {
    background: #00ACEE;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #0075a2;
}
.btn-twitter:link, .btn-twitter:visited {
    color: #fff;
}
.btn-twitter:active, .btn-twitter:hover {
    background: #0075a2;
    color: #fff;
}