<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8"/>
    <title>MidaKanda Kontaktandmed</title>


    <meta name="description" content="lehekülg, kus kasutajal kättesaadavad MidaKanda tiimi email, fax ning asukoht kaardil" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/custom.css"/>


    <!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <style>
       #map {
        margin: auto;
        height: 400px;
        width: 40%;
       }

       #info {
            text-align: center;
       }
    </style>
</head>
<body>


<div class="header container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mb-0 h1" th:href="@{/}">mida kanda</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/user}">konto</a>
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/login}">logi sisse</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/cart}">ostukorv</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/contact}">kontakt</a>
                </li>
                <li class="nav-item logout-form">
                    <div sec:authorize="isAuthenticated()">
                        <form id="logout-form" th:action="@{/logout}" method="post">
                            <a onclick="document.getElementById('logout-form').submit()" class="nav-link">logi välja</a>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>


<div id="info">
    <p>Email: midakanda@gmail.com</p>
    <p>Fax: +44-208-1234567</p>
</div>


<div id="map"></div>


<script>
      function initMap() {
        var uluru = {lat: 58.379884, lng: 26.723256};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
 </script>
<script async="async defer"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD58dEVSlYVqu3rkjeK-_njvFAly9p8Z3k&amp;callback=initMap">
</script>

</body>
</html>