<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>mida kanda</title>
    <meta name="description" content="mida kanda" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/custom.css"/>


    <!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>

    <div class="header container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand mb-0 h1" href="#">mida kanda</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <div sec:authorize="isAuthenticated()">
                            <a class="nav-link" th:href="@{/user}">konto</a>
                        </div>
                    </li>
                    <li>
                        <div sec:authorize="isAnonymous()">
                            <a class="nav-link" th:href="@{/login}">logi sisse</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ostukorv</a>
                    </li>
                    <li class="nav-item logout-form">
                        <div sec:authorize="isAuthenticated()">
                            <form id="logout-form" th:action="@{/logout}" method="post">
                                <a onclick="document.getElementById('logout-form').submit()" class="nav-link">logi välja</a>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <!--<div class="intro-text">-->
            <!--<p class="lead">-->
                <!--Lorem ipsum dolor amet four dollar toast helvetica raclette YOLO la croix flannel bicycle rights, chartreuse pitchfork yr seitan authentic snackwave poutine hot chicken. Literally irony stumptown activated charcoal vegan normcore aesthetic bitters pabst. Crucifix occupy slow-carb schlitz try-hard gochujang jean shorts hella affogato lomo ugh master cleanse. Kogi you probably haven't heard of them tbh chambray trust fund DIY health goth keffiyeh tofu food truck.-->
            <!--</p>-->
        <!--</div>-->
        <!--<div class="text-center begin-button">-->
            <!--<button type="button" class="btn btn-light btn-lg">Alusta</button>-->
        <!--</div>-->
        <!--<div class="intro-form">-->
            <!--<form class="location-form form-group">-->
                <!--<label class="sr-only" for="inlineFormInputGroup">Username</label>-->
                <!--<div class="input-group mb-2 mr-sm-2 mb-sm-0">-->
                    <!--<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="kus sa oled ?" />-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
        <!--<div class="result-text">-->
            <!--<p class="weather-text lead"></p>-->
        <!--</div>-->

        <div class="row">
            <div class="col col-sm-2">
                <div class="btn-group-vertical">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            bränd
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="#">Adidas</a>
                            <a class="dropdown-item" href="#">Common Projects</a>
                            <a class="dropdown-item" href="#">Nike</a>
                            <a class="dropdown-item" href="#">Vans</a>
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop2" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            hind
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="#">&lt;25€</a>
                            <a class="dropdown-item" href="#">25€ - 50€</a>
                            <a class="dropdown-item" href="#">50€ - 100€</a>
                            <a class="dropdown-item" href="#">&gt;100€</a>
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop3" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            värv
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="#">valge</a>
                            <a class="dropdown-item" href="#">must</a>
                            <a class="dropdown-item" href="#">hall</a>
                            <a class="dropdown-item" href="#">muu</a>
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop4" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            tüüp
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="#">ketsid</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-sm-10">
                <div class="row stock-content">

                </div>
            </div>
        </div>

    </div>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>
    <script src="js/app.js"></script>
</body>
</html>