<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sisselogimine</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
	<link rel="stylesheet" href="css/custom.css"/>
	<script
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>

	<div class="login-area container">


		<!--<form th:action="@{/login}" method="post">-->
			<!--<label for="username">Email   </label> : <input type="text" id="username" name="username" autofocus="autofocus" placeholder="Enter email"/> <br />-->
			<!--<label for="password">Password</label>: <input type="password" id="password" name="password" placeholder="Enter password"/>-->
			<!--<p th:if="${loginError}" class="alert alert-danger">Wrong email or password combination</p>-->
			<!--<button type="submit" class="btn btn-primary">-->
				<!--<span class="fa fa-user"></span>Login-->
			<!--</button>-->
		<!--</form>-->
		<!---->

		<div class="row">
            <div class="text-center col-md">
            <form action="/connect/facebook" method="POST" style="display: inline">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="hidden" name="scope" value="public_profile,email" />
                <button type="submit" class="btn btn-primary">
                    <span class="fa fa-facebook"></span> Sign in with Facebook
                </button>
            </form>
            </div>


            <div class="col-md">
            <form  th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="username">Email address</label>
                    <input type="email" class="form-control" name="username" id="username" aria-describedby="emailHelp" placeholder="Enter email"/>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password"/>
                </div>
                <p th:if="${loginError}" class="alert alert-danger">Wrong email or password combination</p>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>

            <h3>
                Or <a href="/registration" th:href="@{/registration}">create new account</a>
            </h3>
            </div>
        </div>
        </div>
</body>
</html>