<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />


	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
	<link rel="stylesheet" href="css/custom.css"/>
	<script
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
	<div class="container">
		<form action="#" th:action="@{/registration}" th:object="${userBean}" method="post" >
			<div class="form-group" >
				<label for="email">Email address</label>
				<input class="form-control" id="email" type="text" th:field="*{email}"  placeholder="Enter email"/>
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger">Email Error</div>
			</div>
			<div class="form-group">
				<label for="firstName">First name</label>
				<input id="firstName" class="form-control" type="text" th:field="*{firstName}" placeholder="Enter your first name"/>
				<div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="alert alert-danger">Firstname error</div>
			</div>
			<div class="form-group">
				<label for="lastName">Last name</label>
				<input class="form-control" type="text" th:field="*{lastName}" placeholder="Enter your last name"/>
				<div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert alert-danger">LastName Error</div>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input class="form-control" type="password" th:field="*{password}" placeholder="Enter your password" />
				<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger">Password error</div>
			</div>
			<div class="form-group">
				<label for="passwordConfirm">Confirm Password*</label>
				<input class="form-control" type="password" th:field="*{passwordConfirm}" placeholder="Repeat your password"/>
				<div th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="alert alert-danger">Password Error</div>
			</div>
			<input type="hidden" name="provider"  value="registration" />
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Register</button>
			</div>
		</form>

	</div>
</body>
</html>