<html>
	<head>
		<title>Hello Twitter</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

		<link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	</head>
	<body>
    <div class="container">
		<h3>Connect to Twitter</h3>
		<span th:if="${social_provider_error}">Provider error (maybe you need to configure the app id and secret?)</span>
		<form action="/connect/twitter" method="POST">
			<div class="formInfo">
				<p>You aren't connected to Twitter yet. Click the button to connect this application with your Twitter account.</p>
			</div>
			<button class="btn btn-twitter btn-lg" type="submit"><i class="fa fa-twitter fa-fw"></i> Connect to Twitter</button>
		</form>
	</div>
	</body>
</html>