<html>
	<head>
		<title>Hello Twitter</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
		<link rel="stylesheet" th:href="@{/css/main.css}"
			  href="../../css/main.css" />
	</head>
	<body>
	<div class="container">
		<h3>Connected to Twitter</h3>
		
		<p>
			You are now connected to your Twitter account.
			Click <a href="/">here</a> to continue.
		</p>
	</div>
	</body>
</html>